body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.footer {
    background: #0f0;
    clear: both;
}

.link {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}


/*.employee>div {
    padding: 5px 10px;
}*/

img {
    vertical-align: middle;
}

.list-inline {
    list-style: none;
}

.list-inline li {
    display: inline-block;
}

.list-inline a {
    display: inline-block;
    padding: 5px 10px;
}