body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.post {
    padding: 10px;
    background: #fff;
}

.footer {
    background: #0f0;
    clear: both;
}

.link {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    vertical-align: middle;
}

.link:hover {
    text-decoration: underline;
}

.link p {
    margin-bottom: 0;
}

.badge {
    background: #8BC34A;
}

.remove-group-item .badge {
    position: absolute;
    right: 10px;
    top: 17px;
    background: #ba8080;
}

img {
    vertical-align: middle;
}

.main-nav {
    padding: 10px 0;
}

a.active {
    color: red;
}

hr {
    border-top: 1px solid red;
}

.remove-group-item:hover {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    cursor: pointer;
}

.remove-group-item p {
    margin-bottom: 0;
}

.remove-group-item:hover p:before {
    font-family: 'Glyphicons Halflings';
    font-size: 16px;
    content: "\e014";
    vertical-align: middle;
    margin-right: 10px;
}

.remove-enter {
    transform: scale(0);
}

.remove-enter.remove-enter-active {
    transform: scale(1);
    transition: transform 350ms ease-in;
}

.remove-leave {
    transform: scale(1);
}

.remove-leave.remove-leave-active {
    transform: scale(0);
    transition: transform 350ms ease-in;
}

.breadcrumb>li+li:before {
    padding: 0 0px 0 5px;
}